* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: sans-serif;
}

input {
    display: none;
}

.event_container {
    width: 95%;
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
    /* background-color: red; */
}

.heading {
    background-color: #023d4b;
    color: white;
    width: 100%;
    text-align: center;
    font-size: large;
    height: 60px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.top-content {
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgrey;
    overflow-x: auto;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

label {
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: color .5s;
    flex-shrink: 0;
}

label:hover {
    color: black;
    font-weight: bolder;
}

.photo-gallery.new {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    background-color: white;
    margin-bottom: 20px;
}


/* img:hover {
    transform: scale(1.5);
} */

.pic {
    position: relative;
    height: 230px;
    box-shadow: 2px 2px 4px lightgray;
    overflow: hidden;
}

.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 10px;
}

.pic:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#check_main:checked~.event_container .pic {
    opacity: 1;
    /* transform: scale(1); */
    position: relative;
}

#check_main:checked~.event_container label:not(#lall) {
    font-size: 18px;
    font-weight: 400;
}

#check1:checked~.event_container .pic:not(.day1) {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check1:checked~.event_container label:not(#l1) {
    font-size: 18px;
    font-weight: 400;
}

#check2:checked~.event_container .pic:not(.day2) {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check2:checked~.event_container label:not(#l2) {
    font-size: 18px;
    font-weight: 400;
}

#check3:checked~.event_container .pic:not(.day3) {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check3:checked~.event_container label:not(#l3) {
    font-size: 18px;
    font-weight: 400;
}

#check4:checked~.event_container .pic:not(.day4) {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check4:checked~.event_container label:not(#l4) {
    font-size: 18px;
    font-weight: 400;
}

#check5:checked~.event_container .pic:not(.day5) {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check5:checked~.event_container label:not(#l5) {
    font-size: 18px;
    font-weight: 400;
}

#check6:checked~.event_container .pic:not(.day6) {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check6:checked~.event_container label:not(#l6) {
    font-size: 18px;
    font-weight: 400;
}

#check7:checked~.event_container .pic:not(.day7) {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check7:checked~.event_container label:not(#l7) {
    font-size: 18px;
    font-weight: 400;
}

#check8:checked~.event_container .pic:not(.day8) {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check8:checked~.event_container label:not(#l8) {
    font-size: 18px;
    font-weight: 400;
}

#check9:checked~.event_container .pic:not(.day9) {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check9:checked~.event_container label:not(#l9) {
    font-size: 18px;
    font-weight: 400;
}

#check10:checked~.event_container .pic:not(.day10) {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check10:checked~.event_container label:not(#l10) {
    font-size: 18px;
    font-weight: 400;
}

#check11:checked~.event_container .pic:not(.day11) {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check11:checked~.event_container label:not(#l11) {
    font-size: 18px;
    font-weight: 400;
}

#check12:checked~.event_container .pic:not(.day12) {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check12:checked~.event_container label:not(#l12) {
    font-size: 18px;
    font-weight: 400;
}

#check13:checked~.event_container .pic:not(.day13) {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check13:checked~.event_container label:not(#l13) {
    font-size: 18px;
    font-weight: 400;
}

#check14:checked~.event_container .pic:not(.day14) {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check14:checked~.event_container label:not(#l14) {
    font-size: 18px;
    font-weight: 400;
}

.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.full-img img {
    width: 90%;
    max-width: 500px;
}

.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}