<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .textBox {
                width: 98%;
                padding: 15px 0px 15px 5px;
                margin: 0px auto 15px auto;
                font-size:16px;
                border: 2px solid rgba(214, 208, 208, 0.934);
              }
        </style>
    </head>
    <body>
        <input type="email" name="otp" placeholder="Enter Email" class="textBox" requierd/><br />
        <br/>
        <button type="submit" class="btn bg-col">Submit</button>
        
        <script src="" async defer></script>
    </body>
</html>