<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation</title>
    <link rel="stylesheet" href="/static/Donation/Donation.css">
    <link rel="stylesheet" href="/static/HeaderAndFooter/HeaderAndFooter.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <!-- Header_02 -->
    <header>
        <div class="header">
            <div class="icon-box">
                <div class="logo">
                    <img src="/static/Images/logo.jpg" alt="logo" height="100px" width="100px">
                    <h1>Shree Kashtabhanjan Dev Hanumanji Mandir, Salangpur</h1>
                </div>
            </div>
        </div>

        <nav>
            <div class="navbar">
                <ul class="main-ul">
                    <li class="point-color"><a href="Home">Home</a></li>
                    <li class="point-color">
                        <a>Online Service</a>
                        <ul>
                            <li><a href="Room_Booking">Room Booking</a></li>
                            <li><a href="Store">Online Store</a></li>
                        </ul>
                    </li>
                    <li class="point-color"><a href="Donation">Donation</a></li>
                    <li class="point-color">
                        <a>General Information</a>
                        <ul>
                            <li><a href="Information">Information</a></li>
                            <li><a href="Schedule">Schedule</a></li>
                        </ul>
                    </li>

                    <li class="point-color">
                        <a>Gallery</a>
                        <ul>
                            <li><a href="Photo_Gallery">Photos Gallery</a></li>
                            <li><a href="Festival_Gallery">Event Gallery</a></li>
                        </ul>
                    </li>

                    <li class="point-color"><a href="News_And_Event">News and Events</a></li>
                    <li class="point-color"><a href="Feedback">Feedback</a></li>
                    {% if user.is_authenticated %}
                    <li class="point-color"><a href="Profile" id="login-button">Profile</a></li>
                    <li class="point-color"><a href="{% url 'handlelogout' %}" id="singUp-button">Log-out</a></li>
                    {% else %}
                    <li class="point-color"><a href="SignIn" id="login-button">Log-In</a></li>
                    <li class="point-color"><a href="SignUp" id="singUp-button">Sign-Up</a></li>
                    {% endif %}
                    
                </ul>
            </div>
        </nav>
    </header>

    <div class="feedback_container">
        <div class="heading">
            <h2>Donation</h2>
        </div>
        <form id="Donation_form" name="Donation_form" method="POST" action="{% url 'donation' %}">
            {% csrf_token %}

            <div class="form-group">
                <label for="uname" class="main_Label">Username:</label>
                <input type="text" id="uname" name="uname" placeholder="Enter Username" value="{{user_obj.0.username}}" readonly required/>
              </div>

            <div class="form-group">
                <label for="crd" class="main_Label">Current Date : </label>
                <input type="date" id="today" name="today" readonly required>
            </div>

            <div class="form-group">
                <label for="Reason" class="main_Label">Select Reason:</label>
                <select id="reason" name="reason" class="gselect" required>
                    <option value="" disabled selected>Select Reason</option>
                    <option value="Support religious activities.">Support religious activities.</option>
                    <option value="Maintain and renovate temple premises.">Maintain and renovate temple premises.</option>
                    <option value="Contribute to community development.">Contribute to community development.</option>
                    <option value="Preserve cultural heritage.">Preserve cultural heritage.</option>
                </select>

            </div>

            <div class="form-group">
                <label for="amount" class="main_Label">Amount :</label>

                <input type="radio" id="hundrad" name="amount" value=100>
                <label for="hundrad" class="radio_label">100</label>
                <input type="radio" id="twohundrad" name="amount" value=200>
                <label for="twohundrad" class="radio_label">200</label>
                <input type="radio" id="fivehundrad" name="amount" value=500>
                <label for="fivehundrad" class="radio_label">500</label>
                <input type="radio" id="thousand" name="amount" value=1000>
                <label for="thousand" class="radio_label">1000</label>
                <input type="radio" id="custom" name="amount" value="custom">
                <label for="custom" class="radio_label">custom</label>
            </div>

            <div class="form-group">
                <label for="amoundc" class="main_Label">Enter Amount : </label>
                <input type="number" id="amountc" name="amountc" required readonly>
            </div>

            <input type="submit" id="submit" name="submit" value="Pay Now">
        </form>
    </div>

    <!-- Footer_02 -->
    <footer>
        <div class="footer">
            <div class="links">

                <div class="content-list">
                    <p><i class="fa-solid fa-arrows-to-dot footer-icon main-icon"></i>Useful Links : </p>
                    <ul type="none">
                        <li><i class="fa-solid fa-hand-point-right footer-icon"></i><a href="Home">Home</a></li>
                        <li><i class="fa-solid fa-hand-point-right footer-icon"></i><a href="Information">Information</a>
                        </li>
                        <li><i class="fa-solid fa-hand-point-right footer-icon"></i><a href="Schedule">Schedule</a></li>
                        <li><i class="fa-solid fa-hand-point-right footer-icon"></i><a href="Photo_Gallery">Photo Gallery</a></li>
                        <li><i class="fa-solid fa-hand-point-right footer-icon"></i><a href="Festival_Gallery">Event Gallery</a></li>
                        <li><i class="fa-solid fa-hand-point-right footer-icon"></i><a href="Room_Booking">Room Booking</a></li>
                        <li><i class="fa-solid fa-hand-point-right footer-icon"></i><a href="Store">Spiritual Store</a></li>
                        <li><i class="fa-solid fa-hand-point-right footer-icon"></i><a href="Donation">Donation</a></li>
                        <li><i class="fa-solid fa-hand-point-right footer-icon"></i><a href="News_And_Event">Event and News</a></li>
                    </ul>
                </div>

                <div class="download-app">
                    <p><i class="fa-solid fa-arrows-to-dot footer-icon main-icon"></i>Download App :</p>
                    <div class="download-links">
                        <a href="https://play.google.com/store/apps/details?id=com.kastbhanjandev.salangpur&hl=en">
                            <img src="/static/Images/google-play.png" alt="Google Play" class="app-icon">
                        </a>
                        <a href="https://apps.apple.com/in/app/salangpur-hanumanji/id990972878">
                            <img src="/static/Images/app-store.png" alt="App Store" class="app-icon">
                        </a>
                    </div>
                </div>

                <div class="location">
                    <p><i class="fa-solid fa-arrows-to-dot footer-icon main-icon"></i>Location :</p>
                    <a href="https://maps.app.goo.gl/DjssB7pYamfEH6xu7">
                        <img src="/static/Images/location.png" alt="Location" class="location-icon">
                    </a>
                </div>

                <div class="social-icon">
                    <p><i class="fa-solid fa-arrows-to-dot footer-icon main-icon"></i>Social Media Links : </p>
                    <ul class="social">
                        <a href="https://www.instagram.com/salangpurhanumanji_official/?igshid=1tvbblkjsmms1"><i class="fa-brands fa-instagram media-icon"></i></a>
                        <a href="https://www.facebook.com/SalangpurHanuman/"><i class="fa-brands fa-facebook media-icon"></i></a>
                        <a href="https://www.youtube.com/user/salangpurhanumanji"><i class="fa-brands fa-youtube media-icon"></i></a>
                        <a href="https://twitter.com/kashtbhanjandev?ref_src=twsrc%5Etfw"><i class="fa-brands fa-x-twitter media-icon"></i></a>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/Donation/Donation.js"></script>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

var options = {
    "key": "rzp_test_8WbzVlHnGFIQf0", // Enter the Key ID generated from the Dashboard
    "amount": "{{payment.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Shree Kashtabhanjan Dev Hanumanji Mandir, Salangpur",
    "description": "Test Transaction",
    "image": "/static/Images/logo.jpg",
    "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert("Payment Successful");
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('submit').onclick = function(e){
    document.getElementById('Donation_form').submit();
}
</script>

<script>

    if ('{{flag}}' == '1') {
    rzp1.open();
}

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        // Check if the user is authenticated
        var isAuthenticated = "{{ user.is_authenticated }}";
    
        if (isAuthenticated === "False") {
            // User is not logged in, display alert and redirect
            alert("You are not logged in. Please log in to access this page.");
            window.location.replace("/SignIn");
        }
    });
    </script>
</body>

</html>