{% comment %} {% extends 'base.html' %} {% endcomment %}
{% block content %}
<style>
  p {
    color: darkgreen; /* Text color */
    font-size: 18px;  /* Font size */
    font-family: 'Verdana', sans-serif; /* Font family */
    font-weight: bold; /* Bold text */
    line-height: 1.5; /* Line spacing */
    text-align: justify; /* Text alignment */
    text-transform: capitalize; /* Capitalize each word */
  }
  
</style>
  <p>
    Your password has been set. You may go ahead and <a href="{% url 'SignIn' %}">sign in</a> now.
  </p>  
{% endblock %} 
