{% comment %} {% extends 'base.html' %} {% endcomment %}
{% block content %}
  {% if validlink %}
  <style>
    /* Styles for the paragraph tag */
    /* Styles for the h3 tag */
    h3 {
      color: #3498db; /* A bright blue color for headings */
      font-size: 24px; /* Moderate font size */
      font-weight: bold; /* Bold text */
      margin-bottom: 15px; /* Space below the heading */
      text-transform: capitalize; /* Capitalize words */
    }
    
    /* Styles for the p tag */
    p {
      color: darkgreen; /* Text color */
      font-size: 18px;  /* Font size */
      font-family: 'Verdana', sans-serif; /* Font family */
      font-weight: bold; /* Bold text */
      line-height: 1.5; /* Line spacing */
      text-align: justify; /* Text alignment */
      text-transform: capitalize; /* Capitalize each word */
    }
    
    /* Styles for the button tag */
    button {
      background-color: #3498db; /* Blue background color */
      color: white; /* White text color */
      font-size: 16px; /* Font size */
      padding: 10px 20px; /* Padding for a comfortable click area */
      border: none; /* No border */
      border-radius: 5px; /* Rounded corners */
      cursor: pointer; /* Pointer cursor on hover */
      transition: background-color 0.3s ease; /* Smooth transition on hover */
    }
    
    button:hover {
      background-color: #2980b9; /* Darker blue on hover */
    }
    

    
  </style>
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
