.main_payment {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.heading {
    background-color: #023d4b;
    color: white;
    width: 100%;
    text-align: center;
    font-size: large;
    height: 60px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-container {
    display: flex;
    width: 100%;
    background-color: rgb(216, 194, 163);
    padding: 5px;
    border: 3px solid black;
}

.option-payment {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: top;
    padding: 5px 0px;
    border: 1px solid black;
}

._text {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.cbutton {
    padding: 10px;
    margin: 10px;
}

#check01,
#check02 {
    width: 93%;
    background-color: rgb(63, 131, 0);
    color: white;
}

input[type="radio"] {
    display: none;
}

.option-payment label {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.dac-container {
    width: 80%;
    height: 500px;
    border: 1px solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-around;
    margin: 10px;
}

.dac-container h1 {
    text-align: center;
}

.upi-container {
    width: 80%;
    height: 500px;
    border: 1px solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-around;
    margin: 10px;
}

.upi-container h1 {
    text-align: center;
}

.first-row {
    display: flex;
}

.owner {
    width: 100%;
    margin-right: 40px;
}

.input-field {
    border: 1px solid #999;
}

.input-field input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
}

.number-field {
    display: flex;
}

.number-field input {
    width: 15%;
    font-size: 20px;
    border: 1px solid #999;
    outline: none;
    padding: 5px;
    text-align: center;
    margin: 10px 10px;
}

.selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selection select {
    padding: 10px 20px;
}

.cbutton {
    background-color: #023d4b;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 18px;
    width: 20%;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid black;
    margin-bottom: 20px;
    margin-left: 50px;
}

.cbutton:hover {
    background-color: #0296bb;
}

.cards img {
    width: 100px;
}